<div class="container">
<div id="header">
<div class=""></div>
<div class="center">
<h1>Philm</h1>
<h2>Post pictures, videos or tekst</h2>
<h1 {
    font-family: Lato;
    text-align: center; 
{>
    
<h2 {
    font-family: Lato;
    text-align: center; 
{>
    