@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron {
    font-family: 'bitter';
    background-color: #a07e98
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}